/* 
 | This file contains all buttons related styles.
 |
 | Created in 07-09-2021
 | Author: Diego Gomes
*/

/* All buttons */
.btn {
    font-family: "Poppins", sans-serif;
}

/* All buttons icons */
.btn img {
    position: relative;
    bottom: 1.5px;
} 

/* Primary buttons */
.btn-primary {
    height: 2.5rem;
    width: 10.125rem;
    border: 0;
    border-radius: 3px;
    background-image: linear-gradient(to right, #5628D9, #7C31DB);
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: .75rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}

/* Outline primary buttons */
.btn-outline-primary {
    border-color: var(--primary);
    color: var(--primary);
}

.btn-outline-primary:focus,
.btn-outline-primary:hover {
    border-color: var(--primary);
    background: var(--primary);
}