/* 
 | This file contains all text fonts related styles.
 |
 | Created in 07-08-2021
 | Author: Diego Gomes
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Poppins font-family */
.poppins {
    font-family: "Poppins", sans-serif;
}

/* Font weight classes */
.font-extra-light {
    font-weight: 200;
}

.font-light {
    font-weight: 300;
}

.font-medium {
    font-weight: 400;
}

.font-regular {
    font-weight: 500;
}

.font-semi-bold {
    font-weight: 600;
}

/* Custom font colors */
.text-dark-blue,
a.text-dark-blue {
    color: var(--dark-blue) !important;
}

.text-dark-blue a:hover,
.text-primary-gray a:hover {
    filter: brightness(95%);
}

.text-primary-gray,
.text-primary-gray a {
    color: var(--primary-gray) !important;
}

.text-secondary-gray,
.text-secondary-gray a {
    color: var(--secondary-gray) !important;
}

/* Font size classe */
.font-extra-small {
    font-size: .625rem;
}

.font-small {
    font-size: .75rem;
}

.font-size-default {
    font-size: 1rem;
}

.font-large {
    font-size: 1.25rem;
}

.font-extra-large {
    font-size: 1.5rem;
}