/* 
 | This file contains all forms related styles.
 |
 | Created in 07-08-2021
 | Author: Diego Gomes
*/

/* Inputs */
input.form-control, textarea.form-control {
    border-bottom: 0;
    border-color: var(--input-border-color);
    border-radius: 4px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: .75rem !important
}

/* Inputs placeholder */
input.form-control::placeholder,
input.form-control::-moz-placeholder,
input.form-control::-webkit-input-placeholder {
    color: var(--placeholder-color);
}

/* Inputs with icons */
input.form-control.with-icon {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

/* Inputs with icons on left side */
input.form-control.with-icon.left {
    border-right: 1px var(--input-border-color) solid;
    border-left: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* Inputs with icons on both sides */
input.form-control.with-icon.both {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* Inputs with reverse Y borders */
input.form-control.reverse-border, .form-control-icon.reverse-border {
    border-top: 0;
    border-bottom: 1px var(--input-border-color) solid;
}

/* Inputs icons */ 
.form-control-icon {
    padding: .375rem .75rem;
    border: 1px solid var(--input-border-color);
        border-left: 0;
        border-bottom: 0;
    border-radius: 4px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    background: #ffffff;
}

/* Inputs left icons */
.form-control-left-icon {
    padding: .375rem .75rem;
        padding-right: 0;
    border: 1px solid var(--input-border-color);
        border-right: 0;
        border-bottom: 0;
    border-radius: 4px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    background: #ffffff;
}

/* Input labels */
.col-form-label {
    font-family: "Poppins", sans-serif;
    font-size: .75rem !important;
}

.col-form-label span {
    color: var(--placeholder-color);
}

/* Input subtitles */
.form-control-subtitle {
    padding-top: .75rem;
    color: var(--primary-gray);
    font-family: "Poppins", sans-serif;
    font-size: .625rem;
    font-weight: 400;
}