/* ------- Fullscreen modals ------- */

.modal-fullscreen * {
    z-index: 20;
}

.modal-fullscreen .modal-dialog,
.sub-menu-modal .modal-dialog {
    margin: 0;
    padding: 0;
}

.modal-fullscreen .modal-content,
.sub-menu-modal .modal-content {
    margin: 0;
    padding: 0;
    border: 0;
    border-radius:0;
    background: var(--body-background);
}

.modal-fullscreen .modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border: 0;
    border-radius: 0;
    background: #2775D7;
}

.modal-fullscreen .close {
    margin: 0;
    padding: 0;
    opacity: 1;
}

.modal-fullscreen .modal-title {
    color: #ffffff;
    font-size: 1.25rem;
}

.modal-fullscreen .dropdown img {
    margin-right: .2rem;
}

.modal-fullscreen .modal-body {
    min-height: 95vh;
}

.modal-fullscreen .modal-body .container {
    position: relative;
    right: 5px;
    padding-left: 0 !important;
}


.sub-menu-modal .modal-dialog {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 105vh;
    background: rgba(0,0,0,.5)
}

.sub-menu-modal .modal-body {
    width: 100vw;
}