/* 
 | This file contains a fix to Bootstrap Grid System in mobile devices.
 |
 | Created in 07-10-2021
 | Author: Diego Gomes
*/

.col-xs-1, .col-sm-1, .col-md-1 {
    max-width: 8.33333333334vw;
    width: 8.33333333334vw;
}

.col-xs-2, .col-sm-2, .col-md-2 {
    max-width: calc(8.33333333334vw * 2);
    width: calc(8.33333333334vw * 2);
}

.col-xs-3, .col-sm-3, .col-md-3 {
    max-width: calc(8.33333333334vw * 3);
    width: calc(8.33333333334vw * 3);
}

.col-xs-4, .col-sm-4, .col-md-4 {
    max-width: calc(8.33333333334vw * 4);
    width: calc(8.33333333334vw * 4);
}

.col-xs-5, .col-sm-5, .col-md-5 {
    max-width: calc(8.33333333334vw * 5);
    width: calc(8.33333333334vw * 5);
}

.col-xs-6, .col-sm-6, .col-md-6 {
    max-width: calc(8.33333333334vw * 6);
    width: calc(8.33333333334vw * 6);
}

.col-xs-7, .col-sm-7, .col-md-7 {
    max-width: calc(8.33333333334vw * 7);
    width: calc(8.33333333334vw * 7);
}

.col-xs-8, .col-sm-8, .col-md-8 {
    max-width: calc(8.33333333334vw * 8);
    width: calc(8.33333333334vw * 8);
}

.col-xs-9, .col-sm-9, .col-md-9 {
    max-width: calc(8.33333333334vw * 9);
    width: calc(8.33333333334vw * 9);
}

.col-xs-10, .col-sm-10, .col-md-10 {
    max-width: calc(8.33333333334vw * 10);
    width: calc(8.33333333334vw * 10);
}

.col-xs-11, .col-sm-11, .col-md-11 {
    max-width: calc(8.33333333334vw * 11);
    width: calc(8.33333333334vw * 11);
}

.col-xs-12, .col-sm-12, .col-md-12 {
    max-width: calc(8.33333333334vw * 12);
    width: calc(8.33333333334vw * 12);
}