/* 
 | This file contains all shared layout styles. That includes navbars and menus, but not components.
 |
 | Created in 07-08-2021
 | Author: Diego Gomes
*/

/* All HTML wrappers */
html, body {
    background-color: var(--body-background);
}

/* Navbar brands */
.navbar-back-button img {
    padding-left: 1.688rem
}

/* All simple links color */
a {
    color: var(--link-color) !important;
}

/* Disabled links */
a[disabled] {
    pointer-events: none;
}