/* Selection titles */
.selection-title {
    padding-bottom: 1.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

/* Selection sub-titles */
.selection-sub-title {
    color: var(--primary-gray);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: .75rem;
}

/* Environment wrappers */
.selection, .white-box {
    margin: .25rem 0.0rem;
    background: #fff;
    border: 1.5px solid #E7E7E7;
    box-sizing: border-box;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.color-viewer {
    display: block;
    height: 10vh;
    border: 1px solid #dee2e6 !important;
    border-radius: .25rem;
}

.color-viewer.with-text::after {
    content: attr(data-color-name);
    padding: .1rem .23rem;
    border-radius: .25rem;
    background: var(--primary-gray);
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: .75rem;
    opacity: .7;
}

.change-link {
    margin-top: .75rem;
    color: #6F90B8 !important;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: .75rem;
}