/* 
 | This file contains all styles shared by the only-authenticated pages.
 |
 | Created in 07-08-2021
 | Author: Diego Gomes
*/

/* Navbar container */
nav.navbar > div.nav-row  {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Navbar */
.navbar {
    background: var(--primary);
}

/* Navbar page title */
.navbar-page-title {
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    text-align: center;
}

/* Navbar dropdown */
#navbar-dropdown {
    left: -180px;
}

/* Hide sidebar controlelr */
#sidebar-toggler {
    display: none;
}

/* Sidebar styles */
nav.sidebar {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vh;
    background: #fff;
    z-index: 1000;
    transition: .4s ease-in;
}

/* Sidebar when hide */
#sidebar-toggler:not(:checked) + .sidebar {
    left: -1000px;
}

/* Sidebar when visible */
#sidebar-toggler:checked + .sidebar {
    left: 0
}

/* User icon initials */
.sidebar-user-initial {
    padding: 21% 43%;
    border-radius: 100%;
    background: linear-gradient(to bottom, #7C31DB 0%, #5628D9 100%);
    color: #fff;
    font-family: "Roboto Slab", sans-serif;
    font-weight: 700;
    font-size: 1.333rem;
}

/* Sidebar User info */
.sidebar-user-info {
    position: relative;
    bottom: .5rem;
}

/* Sidebar toggler icons */
.sidebar-toggler-left-arrow {
    position: relative;
    /* left: 5px; */
}

.sidebar-toggler-menu,
.sidebar-toggler-left-arrow {
    position: relative;
    right: 10px;
    top: 3px;
}

/* Sidebar menu */
.sidebar-nav {
    list-style: none;
    padding: 0;
}

/* Sidebar cols */
.sidebar-nav .col-1, .sidebar-nav .col-2,
.sidebar-nav .col-3, .sidebar-nav .col-4,
.sidebar-nav .col-5, .sidebar-nav .col-6,
.sidebar-nav .col-7, .sidebar-nav .col-8,
.sidebar-nav .col-9, .sidebar-nav .col-10,
.sidebar-nav .col-11, .sidebar .col-12 {
    padding: 0
}

/* Sidebar items of any kind */
.sidebar-nav li {
    padding-left: 0;
}

/* Sidebar section titles */
.sidebar-nav .sidebar-section-title {
    width: 100%;
    padding: .781rem 1.25rem;
        padding-bottom: 1.281rem;
}

.sidebar-nav .sidebar-section-title span {
    color: var(--primary-gray);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: .75rem;
}

/* Sidebar menu item */
.sidebar-item {
    display: flex;
    flex-direction: row;
    padding: .5rem 0;
        padding-left: .7rem !important;
}

/* Sidebar menu before icon */
.sidebar-item img {
    height: 24px;
    width: 24px;
}

/* Sidebar menu text */
a.sidebar-link {
    padding-top: .2rem;
    padding-left: 1.5rem !important;
    color: var(--primary-gray) !important;
    font-family: "Poppins", sans-serif !important;
    font-weight: 500 !important;
    font-size: .85rem !important;
}

/* Sidebar menus with right arrow icon */
a.sidebar-link.with-chevron::after {
    content: "";
    position: relative;
    top: 2px;
    height: 16px;
    width: 16px;
    margin-left: 1.6rem;
    display: inline-block;
    background-image: url("/assets/icons/right-arrow.png");
}

/* Active sidebar menu */
.sidebar-item.active {
    background: var(--sidebar-active-background) !important;
}

.sidebar-item.active > a.sidebar-link {
    color: var(--dark-blue) !important;
}

/* Disabled sidebar menu */
.sidebar-item.disabled, .sidebar-section-title.disabled {
    background: var(--sidebar-disabled-background);
    opacity: .7;
}

/* In-dev message wrapper */
.sidebar-in-dev {
    position: fixed;
    top: 30vh;
    width: 100vw;
    max-width: 100vw;
    margin: 0 !important;
    padding: 0 !important;
}

/* In-dev message text */
.sidebar-in-dev h2 {
    position: relative;
    right: .8rem;
    color: var(--dark-blue);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 1.345rem;
    text-align: center;
    word-spacing: 9999px;
}

/* Footer wrapper */
footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    box-shadow: 0px -1px 0px #E7E7E7;
    background: #ffffff;
    z-index: 100;
}

/* Footer item wrappers */
footer > div.container div.row > a.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Footer items icon */
footer > div.container div.row > a.col img {
    margin: 0 auto;
}

/* Footer items text */
.footer-link {
    color: var(--secondary-gray);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: .635rem;
    text-align: center;
}

/* Footer active items text */
.footer-link.active {
    color: var(--primary-purple);
}