/* 
 | This file contains all authentication page styles.
 |
 | Created in 07-08-2021
 | Author: Diego Gomes
*/

/* Header texts */
.header-text {
    font-size: 3rem;
    color: var(--headers-text-color);
}

/* Page footer text */
.page-footer-text {
    font-size: .75rem;
}