/* 
 | This file contains all budget screens shared styles. .
 |
 | Created in 07-12-2021
 | Author: Diego Gomes
*/

/* Modals */
.modal * {
    font-family: "Poppins", sans-serif;
}

/* Modal header */
.modal .modal-header {
    border-bottom: 0;
}

/* Big modals */
.modal.big-modal .modal-dialog {
    margin:0;
    padding:0;
}

.modal.big-modal .modal-content {
    position: relative;
    right: .5vw;
    width: 101vw;
    margin-top: 10vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

/* Tables top headers */
table thead:first-of-type tr th {
    border-top: 0;
}

/* Tables bottom headers */
table thead:last-of-type tr th {
    border-bottom: 0;
    border-top-width: 2px;
}

/* Footer wrapper */
main.py-4 {
    padding-bottom: 4rem !important;
}