/* 
 | This file contains all colors code variables.
 |
 | Created in 07-08-2021
 | Author: Diego Gomes
*/

:root {
    /* Element colors */
    --body-background: #f6faff;
    --headers-text-color: var(--primary-gray);
    --input-border-color: #9E9E9E;
    --placeholder-color: #BFBFBF;
    --link-color: var(--primary);
    --sidebar-active-background: #DCECFF;
    --sidebar-disabled-background: #CFE5FF80;

    /* Default colors */
    --dark-blue: #0F4589;
    --primary-gray: #595959;
    --secondary-gray: #9E9E9E;
    --primary: #2775D7;
    --primary-purple: #692DDA;
}