/* Selection titles */
.selection-title {
    padding-bottom: 1.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

/* Selection sub-titles */
.selection-sub-title {
    color: var(--primary-gray);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: .75rem;
}

/* Environment wrappers */
.selection, .white-box {
    margin: .25rem 0.0rem;
    background: #fff;
    border: 1.5px solid #E7E7E7;
    box-sizing: border-box;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

/* Disabled Environment wrappers */
.selection.disabled {
    border: 0;
    box-shadow: none;
    background: transparent;
}

/* Environments checkbox wrappers */
.selection .col-sm-1 {
    padding: 1rem 1rem;
        padding-bottom: 0;
        padding-right: 0;
}

.selection .col-sm-1 input {
    height: 1rem;
    width: 1rem;
}

/* Environments Titles */
.selection .selection-title h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-left: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
}

/* Disabled Environments In-dev message */
.selection .selection-title span {
    position: relative;
    right: 30%;
    top: 2rem;
    white-space: nowrap;
    color: #6F90B8;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: .938rem;
    text-transform: uppercase;
}

.selection:not(.disabled) .selection-title span {
    display: none;
}

/* Disabled Environments Titles */
.selection.disabled .selection-title h2 {
    color: var(--primary-gray);
}

/* Environments Image wrappers */
.selection .selection-image{
    position: relative;
    right: .3rem;
    margin-left: auto !important;
    width: 44%;
    text-align: right;
}

/* Environments Images */
.selection .selection-image img{
    margin: .5rem 0;
    border: 1px solid #E7E7E7;
    border-radius: 4px;
}

/* Disabled Environments Images */
.selection.disabled .selection-image img {
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%);
}

/* Selection titles to doors */
.selection.doors .selection-title h2 {
    color: var(--primary-gray);
}

/* Model wrapper */
.select-model {
    height: 8rem;
}

/* Change model link */
.change-model-link {
    color: #6F90B8;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: .75rem;
}

/* Model Image */
.select-model img {
    height: 7rem;
    width: 7rem;
    border: 1px solid #E7E7E7;
}

/* Finishing radios */
input[type="radio"] {
    height: 1.5rem;
    width: 1.5rem;
}

/* Finishing labels */
.finishing-label {
    font-size: .75rem;
    font-weight: 400;
    line-height: 1.5rem;
}

/* Left finishing view wrapper */
.left-finishing-view {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 4%;
    max-width: 4%;
}

/* Left finishing viewer */
.left-finishing-view .viewer {
    height: 85%;
    width: 100%;
    border: 1px solid #33BF1D;
    border-radius: 0;
    background: url('../assets/backgrounds/structure-measure-viewer.png') repeat center 100%;
}

.left-finishing-view .viewer::before {
    content: "ACABAMENTO ESQUERDO";
    position: relative;
    top: 65%;
    right: 7px;
    display: inline-flex;
    width: 0%;
    transform: rotate(270deg);
    color: #1F880E;
    font-size: .5rem;
    white-space: nowrap;
}

#left-finishing-view-measure {
    padding-left: 2px;
    color: #1F880E;
    font-weight: 500;
    font-size: .5rem;
}

#left-finishing-view-measure::after {
    content: "";
    display: block;
    width: 100%;
    padding-top: .3rem;
    border: 1px solid #33BF1D;
        border-top: 0;
}

.module-size-view {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 75%;
    max-width: 75%;
    padding-left: .5rem;
}

.module-size-view img {
    height: 85%;
    width: 100%;
    border: 1.04296px solid #2775D7;
}

.module-size-view .measure {
    display: flex;
    justify-content: center;
    height: 15%;
    width: 100%;
    padding-top: .5rem;
}

.module-size-view .measure span {
    width: 100%;
    padding-left: 2px;
    color: #6F90B8;
    font-weight: 500;
    font-size: .5rem;
    text-align: center;
    text-transform: uppercase;
}

.module-size-view .measure span::before {
    content: attr(data-width-measure);
    display: block;
    width: 100%;
    margin-bottom: .3rem;
    border: 1px solid #6F90B8;
        border-top: 0;
    font-size: .5rem;
}

.module-height-view {
    height: 85%;
    width: 8%;
}

.module-height-view #module-height-viewer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-left: .5rem;
    color:#6F90B8;
    font-size: .5rem;
    text-align: center;
}

.module-height-view #module-height-viewer::before,
.module-height-view #module-height-viewer::after {
    content: "";
    height: 45%;
    width: 30%;
    margin-left: .375rem;
    border: 1px solid #6F90B8;
        border-left: 0;
}

.module-height-view #module-height-viewer::before {
    border-bottom: 0;
}

.module-height-view #module-height-viewer::after {
    border-top: 0
}

/* Left finishing view wrapper */
.right-finishing-view {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 4%;
    max-width: 4%;
    margin-left: .5rem;
}

/* Left finishing viewer */
.right-finishing-view .viewer {
    height: 85%;
    width: 100%;
    border: 1px solid #A723E6;
    border-radius: 0;
    background: url('../assets/backgrounds/structure-measure-viewer.png') repeat center 100%;
}

.right-finishing-view .viewer::before {
    content: "ACABAMENTO DIREITO";
    position: relative;
    top: 65%;
    left: 18px;
    display: inline-flex;
    width: 0%;
    transform: rotate(270deg);
    color: #831AB5;
    font-size: .5rem;
    white-space: nowrap;
}

#right-finishing-view-measure {
    padding-left: 2px;
    color: #831AB5;
    font-weight: 500;
    font-size: .5rem;
}

#right-finishing-view-measure::after {
    content: "";
    display: block;
    width: 100%;
    padding-top: .3rem;
    border: 1px solid #A723E6;
        border-top: 0;
}

.module-total-width-viewer::before {
    content: "";
    display: block;
    width: 100%;
    margin-bottom: .25rem;
    padding-top: .563rem;
    border: 1px solid #9E9E9E;
        border-top: 0;
}

.module-total-width-viewer {
    display: block;
    width: 100%;
    color: var(--primary-gray);
    font-weight: 500;
    font-size: .5rem;
    text-align: center;
    text-transform: uppercase;
}

.size-controls {
    margin: .25rem 0.0rem;
    background: #fff;
    border: 1.5px solid #E7E7E7;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.1);
}

.blue-box, .blue-box * {
    border-color: #6F90B8 !important;
}

.blue-box {
    background: #E9F1FB !important;
}

.green-box * {
    border-color: #6F90B8 !important;
}

.green-box {
    border-color: #1F880E !important;
}

.pink-box * {
    border-color: #6F90B8 !important;
}

.pink-box {
    border-color:  #A723E5 !important;
}

.size-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 4px;
    border: 1px solid;
    border-radius: 4px;
    background: #F5F5F5;
}

.box-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
        padding-bottom: 0;
}

.box-top h3 {
    width: 8.375rem;
    color: var(--primary-gray);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.box-top img {
    height: 3.5rem;
    width: 5rem;
    border: 1px solid #E7E7E7;
}

.box-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 1.5rem 1rem;
        padding-bottom: 0;
}

.box-body .form-group {
    padding: 0 .344rem;
}

.box-body img {
    margin-left: .5rem;
    padding: 0;
    border: 0 !important;
}

.box-body div div div {
    border: 1px solid var(--input-border-color);
        border-top: 0;
        border-right: 0;
    border-radius: 4px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    background: #ffffff;
}

.box-body .form-control {
    color: #000000;
}

.box-footer {
    padding-left: 1rem;
    padding-bottom: .75rem;
}

.box-footer span {
    color: var(--secondary-gray);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: .625rem;
}

.individual-in-dev {
    color: #6F90B8;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 1rem;
    text-transform: uppercase;
}

.cursor-pointer {
    cursor: pointer;
}

.in-dev-white-box {
    background: #F5F5F5
}

.module-model-section-title {
    padding: .5rem 1.5rem;
        padding-right: 0;
    color: #0F4589;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.description-box {
    position: relative;
    bottom: .5rem;
    width: 104%;
    margin: .25rem 0.0rem;
    background: #F5F5F5;
    border: 1.5px solid #E7E7E7;
    box-sizing: border-box;
    box-shadow: 0px 0px 0px #f5f5f5;
    border-radius: 0;
}

.open-model-details {
    color: #6F90B8 !important;
}

.collapse.show {
    display: flex !important;
}

.modal-breadcrump h3{
    padding-left: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.disabled-customization {
    background: #F5F5F5 !important;
}

.disabled-customization img {
    filter: grayscale(50%);
}

input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
}